<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户使用协议</title>
    #include("/WEB-INF/template/www/css.html")
    #include("/WEB-INF/template/www/js.html")
</head>

<body>
<input type="hidden" id="ctx" value="#(ctx)">
<div class="container">

    <form id="custForm" role="form" class="form-signin" method="post" >
        <h3 class="form-signin-heading">迈伴客用户使用协议</h3>
        <div class="panel panel-default">

            <div class="panel-body" style="font-size: 11px">
                <p >北京迈伴客金融信息服务有限公司（以下简称“迈伴客公司”）希望您认真阅读本《用户使用协议》（以下简称“本协议”）；一旦您点击同意本协议的按钮，即表示您同意遵循本协议之所有约定，一旦您在迈伴客网站或迈伴客客户端软件（以下简称“迈伴客”）上注册成功或通过上述方式使用迈伴客提供的服务，即表示您同意遵循本协议之所有约定。</p>
                <p>第1条</p>
                <p>您是具备完全民事权利能力和完全民事行为能力的自然人。如需使用迈伴客购买金融信息服务，则您必须年满18周岁。迈伴客与#(merchantInfo.merchantName)共同进行金融服务，迈伴客负责清分结算服务。关于您与#(merchantInfo.merchantName)之间的金融产品协议与迈伴客公司无任何关联。迈伴客公司按照#(merchantInfo.merchantName)提供的代扣清单提供清分服务。对于清单的内容由#(merchantInfo.merchantName)承担法律责任。</p>
                <p>
                第2条
                </p>
                <p>
                目前您下载和使用迈伴客不收取任何费用，由于上网而产生的流量费用由相关运营商收取，为防止他人冒用您的身份注册或使用迈伴客，迈伴客可能会向您的手机发送一条短信来验证，由此产生的短信费用由迈伴客公司支付，迈伴客在此过程中不收取任何费用。但迈伴客公司保留制定、调整以及向您收取相关服务费用的权利，并会在本公司网站上明示公布收费方式。如收取服务费用，您同意迈伴客公司有权从您的交易款项中实时扣除该费用。
                </p>
                <p>
                第3条
                </p>
                <p>
                您有义务确保您提交的信息准确、完整，若您所提供的信息有任何错误、不实或不完整，迈伴客公司有权暂停或终止向您提供迈伴客全部或部分服务。由上述原因导致服务无法正常提供，并由此导致的任何直接或间接损失由您自行承担，迈伴客公司不承担任何责任。
                </p>
                <p>
                第4条
                </p>
                <p>
                您的个人资料受到严格保护，不接受迈伴客公司及您之外的任何个人或单位的查询请求。但法律法规、司法机关、监管机构、本协议另有规定或要求，或迈伴客公司为执行本协议确有必要披露的除外。
                </p>
                <p>
                第5条
                </p>
                <p>
                迈伴客公司合作第三方支付机构将为您提供银行卡认证服务，您同意委托该第三方支付机构为您提供包括但不限于银行卡认证、取现、代扣、代发等服务，迈伴客会将您的账户与前述银行账户进行绑定。如您未按照迈伴客公司规定提交相关信息或提交的信息错误、虚假、过时或不完整，或者迈伴客公司有合理的理由怀疑您提交的信息为错误、虚假、过时或不完整，您因此未能使用银行卡认证、取现、代扣、代发等服务而产生的损失由您自行承担。
                </p>
                <p>
                第6条
                </p>
                <p>
                在任何情况下，迈伴客公司及其股东、雇员均不以任何明示或默示的方式对您通过迈伴客进行的金融产品投资而产生的任何形式的直接或间接损失承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等；如您参与的投资计划涉及第三方担保或保险，对于担保的效力及实现须由您发起及承担，迈伴客公司可提供必要的协助。
                </p>
                <p>
                第7条
                </p>
                <p>
                您通过迈伴客进行的金融服务如涉及个人所得税及相关税费，请自行申报及缴纳。
                </p>
                <p>
                第8条
                </p>
                <p>
                您通过迈伴客进行的金融服务不提供纸质账单。请通过迈伴客网站、客户端软件或迈伴客客服人员等方式了解相关信息。
                </p>
                <p>
                第9条
                </p>
                <p>
                您有义务遵守法律法规、政策、道德、迈伴客各项规则以及迈伴客公司相关业务规则等，不将迈伴客用于任何非法目的，也不以任何非法方式使用迈伴客所提供的服务。迈伴客公司有权基于单方独立判断，在认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分服务，且无需对您承担任何责任。前述情形包括但不限于：迈伴客公司认为您提供的个人资料不具有真实性、有效性或完整性；迈伴客公司发现异常交易或有疑义或有违法之虞时；迈伴客公司认为您的账户涉嫌洗钱、套现、传销、被冒用或其他迈伴客认为有风险之情形；
                </p>
                <p>
                第10条
                </p>
                <p>
                迈伴客公司有权在合理范围内对迈伴客及其功能和服务进行维护、改动、升级。
                </p>
                <p>
                第11条
                </p>
                <p>
                迈伴客公司拥有迈伴客及其相关信息、内容的全部合法权利，包括但不限于图标、界面设计、有关数据、电子文档等的知识产权等权利受到法律法规的保护。包括您在内的其他任何个人或组织不得进行反向工程、反向汇编、反向编译，不得将图片或软件数据取出使用，也不得进行任何违法违规行为。未经迈伴客公司许可，任何个人或组织不得将迈伴客用于商业用途。
                </p>
                <p>
                第12条
                </p>
                <p>
                您在迈伴客浏览的金融产品的信息皆为相关机构提供，迈伴客会在合理情况下保证对信息进行更新。同时，迈伴客上展示的可交易的金融服务也均由金融机构提供，且交易流程在金融机构的交易系统中进行，您在交易过程中遇到的问题，除非由迈伴客直接造成，否则均由相关机构负责解决或承担相应责任，迈伴客不承担任何责任。
                </p>
                <p>
                第13条
                </p>
                <p>
                迈伴客公司无法保证用户信息的准确、及时和完整；您应对您提供的信息承担全部责任，包括但不限于信息的合法合规性、真实性、准确性、完整性、及时性、有效性。
                </p>
                <p>
                第14条
                </p>
                <p>
                您应妥善保管注册的用户名称、密码等信息以及您的其他信息，所有使用该信息发生的行为以及使用您手机上的迈伴客的行为均视为您作出，并由您承担全部责任。因您保管、设置、使用不当等造成的损失和责任，由您自行承担，与迈伴客公司、迈伴客无关。迈伴客公司对账号以及密码认证通过后不对任何有关操作的真实性承担责任。
                </p>
                <p>
                第15条
                </p>
                <p>
                由于电信运营商提供的通信线路等原因造成的以及由不可抗力造成的暂时性不能或者部分不能提供服务的，迈伴客公司不承担任何责任。
                </p>
                <p>
                第16条
                </p>
                <p>
                “不可抗力”是指不能合理控制、不可预见或即使预见亦无法避免的事件，该事件妨碍、影响或延误迈伴客公司根据本协议履行其全部或部分义务。由于不可抗力致使迈伴客公司不能或者部分不能履行本协议或延迟履行本协议，则迈伴客公司不承担任何责任。
                </p>
                <p>
                第17条
                </p>
                <p>
                在迈伴客交易需订立的合同采用电子合同方式。您使用会员账户登录迈伴客网站或客户端软件后，根据迈伴客的相关规则，以会员账户ID通过点击确认或类似方式签署的电子合同即视为注册会员本人真实意愿并以注册会员本人名义签署的合同，具有法律效力。注册会员应妥善保管自己的账户密码等账户信息，注册会员通过前述方式订立的电子合同对合同各方具有法律约束力，注册会员不得以其账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。注册会员签署电子合同后，不得擅自修改该合同。如注册客户对合同文本有任何争议，应以迈伴客记录的合同为准。
                </p>
                <p>
                第18条
                </p>
                <p>
                迈伴客关于对客户的资料以解决争议、对纠纷进行调停，有助于确保客户在迈伴客进行安全交易，执行迈伴客的服务协议。为禁止用户在迈伴客平台欺诈、非法或者其他形式的刑事犯罪活动，使迈伴客免受其害，迈伴客可通过人工或自动程序对个人资料进行评价。迈伴客使用客户的资料对平台的推广和促销情况进行改进，分析网站的使用率，改善迈伴客平台的内容和产品推广形式，使迈伴客的网站的内容、设计和服务更能符合客户的要求，从而使用户在使用迈伴客平台时更顺利、有效、安全和度身订造的交易体验。
                </p>
                <p>
                第19条
                </p>
                <p>
                用户在迈伴客平台操作业务时，由于自己使用的计算机、手机所存在的性能缺陷、质量问题、计算机病毒、硬件故障及其他原因，或用户缺乏计算机、手机应用操作能力或互联网知识，导致对交易时间或交易数据造成影响，从而对给用户造成的损失，迈伴客不承担责任。
                </p>
                <p>
                第20条
                </p>
                <p>
                本协议签订地为中华人民共和国上海市。因本协议的签订及履行所引起的您与迈伴客公司的任何纠纷或争议，首先应友好协商解决，协商不成的，各方同意提交迈伴客公司所在地有管辖权的人民法院诉讼解决。
                </p>
                <p>
                第21条
                </p>
                <p>
                本协议的著作权归迈伴客公司所有，迈伴客公司保留一切解释和修改的权利。
                </p>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="javascript:history.back(-1);">返回</button>
    </form>
</div> <!-- /container -->


<script type="text/javascript">

</script>
<style type="text/css">
    .panel-body>p{
        text-indent:2em;
    }
</style>

</body>
</html>

